<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--定义日志存放的位置-->
    <springProperty scope="context" name="blogsServicePath" source="logging.path"
                    defaultValue="blogs-service-logs"/>

    <!-- ****************************************************************************************** -->
    <!-- ****************************** 本地开发只在控制台打印日志 ************************************ -->
    <!-- ****************************************************************************************** -->
    <springProfile name="local">

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!--encoder 默认配置为PatternLayoutEncoder-->
            <encoder>
                <pattern>===%d{yyyy-MM-dd HH:mm:ss.SSS} [BLOGS]\t%-5level %logger Line:%-3L - %msg%n</pattern>
                <charset>utf-8</charset>
            </encoder>
        </appender>

		<!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->
		
		<!-- 本地还是记录一下日志文件 -->
		<!-- 日志记录器，日期滚动记录 -->
        <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 正在记录的日志文件的路径及文件名 -->
            <file>${blogsServicePath}/log_error.log</file>
            <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 归档的日志文件的路径，例如今天是2019-12-21日志，当前写的日志文件路径为file节点指定，可以将此文件与file指定文件路径设置为不同路径，从而将当前日志文件或归档日志文件置不同的目录。
               		 而2019-12-21的日志文件在由fileNamePattern指定。%d{yyyy-MM-dd}指定日期格式，%i指定索引 -->
                <fileNamePattern>${blogsServicePath}/error/log-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- 除按日志记录之外，还配置了日志文件不能超过2M，若超过2M，日志文件会以索引0开始，
              		 命名日志文件，例如log-error-2013-12-21.0.log -->
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>200MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <!-- 追加方式记录日志 -->
            <append>true</append>
            <!-- 日志文件的格式 -->
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>===%d{yyyy-MM-dd HH:mm:ss.SSS} [BLOGS]\t%-5level %logger Line:%-3L - %msg%n</pattern>
                <charset>utf-8</charset>
            </encoder>
            <!-- 此日志文件只记录error级别的 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>error</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- 日志记录器，日期滚动记录 -->
        <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 正在记录的日志文件的路径及文件名 -->
            <file>${blogsServicePath}/log_total.log</file>
            <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 归档的日志文件的路径，例如今天是2013-12-21日志，当前写的日志文件路径为file节点指定，可以将此文件与file指定文件路径设置为不同路径，从而将当前日志文件或归档日志文件置不同的目录。
               		而2013-12-21的日志文件在由fileNamePattern指定。%d{yyyy-MM-dd}指定日期格式，%i指定索引 -->
                <fileNamePattern>${blogsServicePath}/total/log-total-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- 除按日志记录之外，还配置了日志文件不能超过2M，若超过2M，日志文件会以索引0开始，
                	命名日志文件，例如log-error-2013-12-21.0.log -->
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>200MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <!-- 追加方式记录日志 -->
            <append>true</append>
            <!-- 日志文件的格式 -->
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>===%d{yyyy-MM-dd HH:mm:ss.SSS} [BLOGS]\t%-5level %logger Line:%-3L - %msg%n</pattern>
                <charset>utf-8</charset>
            </encoder>
        </appender>
        
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->  
	    <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->  
	    <!-- 添加附加的appender,最多只能添加一个 -->  
	    <appender name="FILE_ASYNC_ALL" class="ch.qos.logback.classic.AsyncAppender">  
	        <discardingThreshold>0</discardingThreshold>  
	        <queueSize>256</queueSize>  
	        <includeCallerData>true</includeCallerData>  
	        <appender-ref ref="FILE_ALL" />  
	    </appender>  
	  
	　　<!-- 使用异步来记录错误信息-->
	    <appender name="FILE_ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">  
	        <discardingThreshold>0</discardingThreshold>  
	        <queueSize>256</queueSize>  
	        <includeCallerData>true</includeCallerData>  
	        <appender-ref ref="FILE_ERROR" />  
	    </appender>  
        
        <!-- 根 logger -->
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE_ASYNC_ALL"/>
            <appender-ref ref="FILE_ASYNC_ERROR"/>
        </root>
        
		<!-- 通过 LoggerFactory.getLogger("") 可以获取到这个logger
	                        由于这个logger自动继承了root的appender，root中已经有stdout的appender了，
	                        这边又引入了stdout的appender， additivity表示要不要使用rootLogger配置的appender进行输出 
	    	  如果没有设置 additivity="false" ,就会导致一条日志在控制台输出两次的情况 -->
		<logger name="com.see" level="info,error" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE_ASYNC_ALL"/>
            <appender-ref ref="FILE_ASYNC_ERROR"/>
        </logger>
        
        <!--对于类路径以 com.example.logback 开头的Logger,输出级别设置为debug,并且只输出到控制台-->
	    <logger name="org.springframework.web.client" level="debug"/>
	    
    </springProfile>

    <!-- ****************************************************************************************** -->
    <!-- ********************** 放到服务器上不管在什么环境都只在文件记录日志 **************************** -->
    <!-- ****************************************************************************************** -->
    <springProfile name="!local">
        <!-- 加上控制台打印日志 -->
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!--encoder 默认配置为PatternLayoutEncoder-->
            <encoder>
                <pattern>===%d{yyyy-MM-dd HH:mm:ss.SSS} [BLOGS]\t%-5level %logger Line:%-3L - %msg%n</pattern>
                <charset>utf-8</charset>
            </encoder>
        </appender>

		<!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->
		
		<!-- 本地还是记录一下日志文件 -->
		<!-- 日志记录器，日期滚动记录 -->
        <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 正在记录的日志文件的路径及文件名 -->
            <file>${blogsServicePath}/log_error.log</file>
            <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 归档的日志文件的路径，例如今天是2013-12-21日志，当前写的日志文件路径为file节点指定，可以将此文件与file指定文件路径设置为不同路径，从而将当前日志文件或归档日志文件置不同的目录。
               		 而2013-12-21的日志文件在由fileNamePattern指定。%d{yyyy-MM-dd}指定日期格式，%i指定索引 -->
                <fileNamePattern>${blogsServicePath}/error/log-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- 除按日志记录之外，还配置了日志文件不能超过2M，若超过2M，日志文件会以索引0开始，
              		 命名日志文件，例如log-error-2013-12-21.0.log -->
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>200MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <!-- 追加方式记录日志 -->
            <append>true</append>
            <!-- 日志文件的格式 -->
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>===%d{yyyy-MM-dd HH:mm:ss.SSS} [BLOGS]\t%-5level %logger Line:%-3L - %msg%n</pattern>
                <charset>utf-8</charset>
            </encoder>
            <!-- 此日志文件只记录error级别的 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>error</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->  
	    <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->  
	    <!-- 添加附加的appender,最多只能添加一个 -->  
	    <!-- <appender name="FILE_ASYNC_ALL" class="ch.qos.logback.classic.AsyncAppender">  
	        <discardingThreshold>0</discardingThreshold>  
	        <queueSize>256</queueSize>  
	        <includeCallerData>true</includeCallerData>  
	        <appender-ref ref="FILE_ALL" />  
	    </appender> -->  
	  
	　　<!-- 使用异步来记录错误信息-->
	    <appender name="FILE_ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">  
	        <discardingThreshold>0</discardingThreshold>  
	        <queueSize>256</queueSize>  
	        <includeCallerData>true</includeCallerData>  
	        <appender-ref ref="FILE_ERROR" />  
	    </appender>  
        
        <!-- 根 logger -->
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <!-- <appender-ref ref="FILE_ASYNC_ALL"/> -->
            <appender-ref ref="FILE_ASYNC_ERROR"/>
        </root>
        
		<!-- 通过 LoggerFactory.getLogger("") 可以获取到这个logger
	                        由于这个logger自动继承了root的appender，root中已经有stdout的appender了，
	                        这边又引入了stdout的appender， additivity表示要不要使用rootLogger配置的appender进行输出 
	    	  如果没有设置 additivity="false" ,就会导致一条日志在控制台输出两次的情况 -->
		<logger name="com.see" level="info,error" additivity="false">
            <appender-ref ref="STDOUT"/>
            <!-- <appender-ref ref="FILE_ASYNC_ALL"/> -->
            <appender-ref ref="FILE_ASYNC_ERROR"/>
        </logger>
        
        <!--对于类路径以 com.example.logback 开头的Logger,输出级别设置为debug,并且只输出到控制台-->
	    <logger name="org.springframework.web.client" level="debug"/>
        
    </springProfile>

</configuration>